<form class="{{cssClass}}" data-tooltip-class="pf1" autocomplete="off">
    {{description}}

    <div class="flexcol">
        <div class="form-group stacked">
            <label class="checkbox">
                <input type="checkbox" name="delete"> {{localize "PF1ECaravans.DeleteItems"}}
            </label>
        </div>
    </div>

    <button type="submit" name="submit">
        <i class="fa fa-coins"></i>
        {{localize "PF1ECaravans.ConvertTreasureToGold"}}
    </button>
</form>
