.pf1.sheet.caravan.actor {
    .tab {
        &.summary {
            .attributes .unrest-details {
                flex: 4;
            }

            .condition {
                border: 1px transparent;
                border-radius: 10px;
                font-weight: 600;
                background-color: rgba(0, 0, 0, 0.1);
                text-shadow: 0 0 8px red;
                height: 34px;

                span {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 4px;
                    align-items: center;
                    color: var(--color-text-dark-primary);

                    > img {
                        border: none;

                        &[src*=".svg"] {
                            background: black;
                        }
                    }

                    > .details {
                        display: flex;
                        flex-flow: row wrap;
                    }

                    .name {
                        flex: 1 100%;
                    }
                }
            }

            .buffs-conditions {
                flex: 0;
            }

            a.rollable {
                margin-bottom: -1px;
            }
        }

        &:is(.travelers, .wagons, .cargo, .feats) footer :is(.feat-counts, .wagon-counts, .traveler-counts, .cargo-counts) {
            display: flex;
            flex-flow: row nowrap;
            gap: 3px;

            .stats {
                flex: 4;
            }
        }

        &.cargo {
            .encumbrance {
                &:not(.encumbered) .encumbrance-bar {
                    &.stores {
                        background: #E53935;
                        border-color: #FFCDD2;
                    }

                    &.treasure {
                        background: #FFA000;
                        border-color: #FFECB3;
                    }
                }

                &.encumbered .encumbrance-bar:is(.equipment, .stores) {
                    display: none;
                }
            }

            footer {
                display: flex;
                flex-flow: row wrap;
                gap: 3px;

                .provisions {
                    display: flex;
                    flex-flow: row nowrap;
                    flex: 1;
                    align-self: center;

                    label {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.3em;
                        flex: 0;
                        margin-left: 8px;
                        text-align: right;
                        line-height: 20px;
                        color: var(--pf1-tan);
                        white-space: nowrap;
                    }
                }

                .cargo-tags {
                    justify-content: flex-end;
                    flex: 3;
                    align-self: center;
                }

                :is(.cargo-counts, .cargo-capacity) {
                    flex: 1 100%;
                }

                .cargo-capacity .encumbrance {
                    margin-right: 1px;
                }
            }
        }
    }

    &:is(.travelers, .wagons, .feats, .cargo) .item-notifications {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 3px;
        flex: 0;
        margin: 2px;
    }

    .input-proxy {
        width: calc(100% - 2px);
        min-width: 20px;
        height: var(--form-field-height);
        background: rgba(0, 0, 0, 0.05);
        padding: 1px 3px;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        text-align: inherit;
        line-height: inherit;
        border-radius: 3px;

        border: 1px solid var(--pf1-tan);
        background: var(--pf1-bg-dark-0);
        color: var(--color-text-dark-primary);

        &.small {
            flex: 0 3em;
            width: 3em;
        }
    }

    .info-box input:is([type="text"], [type="number"]) {
        border: unset;
    }

    .sheet-header h1 .input-proxy {
        font-size: calc(var(--font-size-28) * 1.2);
        font-variant-caps: small-caps;
        margin: 0;
    }
}

.pf1[data-action-id="caravanAttack"] .type-color.type- {
    --primary: #93291E;
    --secondary: #ED213A;
    --foreground: white;
}

.pf1 .type-color {
    &.type-pf1e-caravans\.traveler {
        --primary: #283E51;
        --secondary: #4B79A1;
        --foreground: white;
    }

    &.type-pf1e-caravans\.wagon {
        --primary: #cb2d3e;
        --secondary: #ef473a;
        --foreground: white;
    }

    &.type-pf1e-caravans\.feat {
        --primary: #5f00a3;
        --secondary: #8900ea;
        --foreground: white;
    }

    &.type-pf1e-caravans\.equipment {
        --primary: #418124;
        --secondary: #7ba547;
        --foreground: white;
    }
}

.icon-pf.icon-wooden-crate {
    mask-image: url(../icons/wooden-crate.svg);
    -webkit-mask-image: url(../icons/wooden-crate.svg);
}

.pf1.sheet.type-pf1e-caravans\.traveler .sheet-header .summary li {
    width: unset;
}

.chat-message .pf1e-caravans.resting-result {
    font-size: 12px;
    line-height: 1.2;
}