---
import Layout from '../layouts/Layout.astro';
import DiplomacyPanel from '../islands/DiplomacyPanel';
---

<Layout title="Diplomacy - Quillverse">
  <main class="container mx-auto px-4 py-8">
    <DiplomacyPanel client:load />
  </main>
</Layout>

<style>
  .container {
    min-height: calc(100vh - 80px);
  }
</style>
