.extended-combat-hud .action-hud .features-container.show {
    z-index: 1;
    pointer-events: all;
}

.extended-combat-hud .action-hud .actions-container > .feature-element {
    width: 200px;
    height: 200px;
    flex: 0 0 200px;
    margin-top: 0;
    margin-right: 0;
}

.extended-combat-hud .action-hud .features-container .action-element {
    height: 150px;
    width: 150px;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 150px;
    min-height: 150px;
}

.extended-combat-hud .portrait-stat-block.stacked-stats {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.extended-combat-hud .portrait-hud:hover .portrait-stat-block.stacked-stats > .portrait-stat.hidden,
.extended-combat-hud .portrait-stat-block.stacked-stats > .portrait-stat {
    height: 2rem;
    transition: height 500ms, font-size 500ms;
    padding: 0.35rem;
    width: 100%;
    display: flex;
}

.extended-combat-hud .portrait-stat-block.stacked-stats > .portrait-stat.hidden {
    overflow: hidden;
    height: 0;
    padding: 0 0.35rem;
}


.extended-combat-hud .portrait-stat-block.stacked-stats.left {
    left: 0;
}

.extended-combat-hud .portrait-stat-block.stacked-stats.right {
    right: 0;
}

.extended-combat-hud .portrait-stat-block.stacked-stats > .portrait-stat > .label {
    flex-grow: 1;
    margin-right: 0.5rem;
}